<div [formGroup]="signUpData" class="sign-up">
  <div class="username">
    <input
      formControlName="login"
      placeholder="Придумайте логин"
      class="ez-input"
      type="text"
    />
  </div>
  <div class="password">
    <input
      formControlName="password"
      placeholder="Придумайте пароль"
      class="ez-input"
      type="password"
    />
  </div>
  <div class="confirm-password">
    <input
      formControlName="confirmPassword"
      placeholder="Подтвердите пароль"
      class="ez-input"
      type="password"
    />
  </div>
  <div class="email">
    <input
      formControlName="email"
      placeholder="Введите ваш email"
      class="ez-input"
      type="text"
    />
  </div>

  <div (click)="submit()" class="submit">
    <button class="ez-button">Далее</button>
  </div>
</div>
