<div [formGroup]="signUpData" class="sign-up">
  <div class="username">
    <input class="ez-input" formControlName="name" placeholder="Придумайте логин" type="text" />
  </div>

  <div class="password">
    <input class="ez-input" formControlName="password" placeholder="Придумайте пароль" type="password" />
  </div>

  <div class="confirm-password">
    <input class="ez-input" formControlName="confirmPassword" placeholder="Подтвердите пароль" type="password" />
  </div>

  <div class="email">
    <input class="ez-input" formControlName="email" placeholder="Введите ваш email" type="text" />
  </div>

  <div>
    <button (click)="submit()" class="ez-button">Далее</button>
  </div>
</div>
