.leftbar__nav {
  width: 50px;
  height: 100vh;
  border-right: var(--border);

  .leftbar__user-ico {
    height: 35px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 2px solid rgb(90, 90, 90);
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .leftbar__nav-default-folders,
  .leftbar__nav-custom-folders {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
}


