.leftbar__nav {
  width: 50px;
  height: 100vh;
  border-right: var(--border);

  .leftbar__nav-default-folders,
  .leftbar__nav-custom-folders {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
}