.rightbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border-left: var(--border);
  background-color: var(--background);

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.rightbar-info__chat-ico {
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.rightbar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  .rightbar-info__chat-name {
    margin-bottom: 5px;
  }

  .rightbar-info__ctrl-btns {
    display: flex;
    margin-bottom: 5px;

    .rightbar-info__add-member {
      margin-right: 8px;
    }
  }

  .rightbar-info-members {
    .rightbar-info-members-header {
      text-align: center;
      margin-bottom: 5px;
    }

    .rightbar-info-members-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .rightbar-info-members-item__ico {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        border-radius: 100%;
        border: 2px solid rgb(240, 240, 240);
      }
    }
  }
}
