.sign-in {
  .username,
  .password {
    position: relative;
    margin-bottom: 10px;
  }

  .showPass {
    position: absolute;
    top: 7px;
    right: 3px;
    fill: var(--active);
    cursor: pointer;
    transition: 500ms;
  }

  .remember-me {
    display: flex;
    margin-bottom: 20px;

    .remember-me__checkbox {
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .remind-pass {
    font-size: 12px;
    text-align: center;
    transition: 500ms;

    &:hover {
      color: var(--active);
      transition: 500ms;
      cursor: pointer;
    }
  }
}
