<div class="leftbar">
  <p class="leftbar-header">Настройки</p>

  <div class="leftbar__list">
    <p class="leftbar__list-item">Аккаунт</p>
    <p class="leftbar__list-item">Общие настройки</p>
    <p class="leftbar__list-item">Настройки аудио и видео</p>
    <p class="leftbar__list-item">Настройки каналов</p>
    <p class="leftbar__list-item">Горячие клавиши</p>
    <p class="leftbar__list-item">О программе</p>
    <p class="leftbar__list-item" routerLink="">Выйти из учетной записи</p>
  </div>
</div>
