.main {
  display: flex;
  overflow-y: hidden;
  user-select: none;
  background: var(--background-secondary) url(../../assets/img/background.png) no-repeat 60%;
}

app-main-leftbar {
  min-width: 18%;
  max-width: 18%;
  height: 100vh;
}

app-main-chat-section {
  width: 100%;
  height: 100vh;
}

app-main-rightbar {
  min-width: 18%;
  max-width: 18%;
  height: 100vh;
}
