<div class="main {{ selectedTheme }}" (contextmenu)="cancelDefaultActions($event)">
  <app-main-leftbar
    (currentChat)="getCurrentChat($event)"
    (showCreateFolder)="showFolderPopup()"
    [folderName]="folderName"
  ></app-main-leftbar>

  <app-main-chat-section *ngIf="!stateService.hideChatSection" [currentChat]="currentChat"></app-main-chat-section>

  <app-main-rightbar *ngIf="stateService.openRightbar" [currentChat]="currentChat"></app-main-rightbar>
</div>

<create-folder (folderNameEmitter)="getFolderName($event)" [hideFolderPopup]="hideFolderPopup"></create-folder>
