<div class="main {{ selectedTheme }}">
  <app-main-leftbar
    [folderName]="folderName"
    (currentChat)="getCurrentChat($event)"
    (chatSectionListener)="showChatSection()"
    (showCreateFolder)="showFolderPopUp()"></app-main-leftbar>

  <app-main-chat-section
    *ngIf="!hideChatSection"
    [currentChat]="currentChat"
    (rightbarListener)="showRightbar()"></app-main-chat-section>

  <app-main-rightbar
    *ngIf="!hideRightbar"
    [currentChat]="currentChat"
    (rightbarListener)="showRightbar()"></app-main-rightbar>
</div>
