.chat-section {
  width: 100%;
  height: 100%;
  background-color: var(--background-secondary);
  border: none;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    border-bottom: var(--border);
    background-color: var(--background);

    .header__current-chat {
      display: flex;
      align-items: center;
      width: 100%;

      .header__current-chat-name {
        width: 100%;
        text-align: center;
        cursor: pointer;
      }

      .header__current-chat-props {
        display: flex;
        padding-right: 20px;
        cursor: pointer;
      }
    }
  }

  .pinned-msg {
    position: fixed;
    padding-left: 20px;
    width: 100%;
    height: 43px;
    background-color: var(--background);
    border-bottom: var(--border);
    border-left: var(--border);
  }

  .current-chat-public {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 93%;

    .messages-list {
      width: 100%;
      padding: 0 10% 0 10%;
      overflow-y: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }

      .my-message {
        display: flex;
        max-width: 30%;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: var(--background);
        word-break: break-all;
        user-select: text;
        border: var(--border);

        .my-message__ico {
          min-width: 40px;
          height: 40px;
          margin-right: 10px;
          border: 2px solid rgb(240, 240, 240);
          border-radius: 100%;
          overflow: hidden;

          img {
            width: inherit;
            height: inherit;
          }
        }

        .my-message__name,
        .my-message__date {
          margin-right: 10px;
        }

        .my-message__text {
          user-select: auto;
        }
      }
    }

    .test {
      border: 1px solid var(--active) !important;
    }

    .scroll-to-bottom {
      position: absolute;
      right: 173px;
      bottom: 100px;
      cursor: pointer;
    }
  }

  .messages-wrap {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;

    .send-msg-img {
      position: absolute;
      right: 11%;
      z-index: 1;
      cursor: pointer;
    }

    .messages-wrap-input {
      width: 80%;
      height: 60px;
      padding: 19px 50px 0 30px;
      outline: 0;
      background-color: var(--background);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      resize: none;
      overflow: hidden;
    }
  }
}
