.leftbar {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.102);
  background-color: rgb(16, 24, 28);

  .leftbar__user-card {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);

    .leftbar__user-ico {
      width: 45px;
      height: 45px;
      margin-right: 12px;
      border-radius: 30px;
      border: 2px solid rgb(59, 147, 197);
      overflow: hidden;

      img {
        width: inherit;
        height: inherit;
      }
    }

    .leftbar__current-info {
      width: 65%;

      .leftbar__user-name {
        font-size: 16px;
      }

      .leftbar__user-role {
        font-size: 14px;
      }
    }

    .leftbar__options {
      cursor: pointer;
    }
  }

  .leftbar__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);

    .leftbar__private,
    .leftbar__group,
    .leftbar__channel,
    .leftbar__notifications {
      display: flex;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .leftbar__create-chat {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);

    input {
      width: 100%;
      margin-bottom: 10px;
      background: none;
    }
  }

  .leftbar__chat-container {
    height: 88vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }

  .leftbar__search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);

    input {
      width: 100%;
      margin-bottom: 10px;
      background: none;
    }
  }

  .leftbar__chat-wrap {
    display: flex;
    align-items: center;
    padding: 8px;

    .leftbar__chat-ico {
      min-width: 45px;
      min-height: 45px;
      margin-right: 12px;
      border-radius: 100%;
      border: 2px solid rgb(240, 240, 240);
    }

    .leftbar__chat {
      margin-right: 10px;
      cursor: pointer;
    }

    .leftbar__unread-msgs {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      font-size: 14px;
      border-radius: 100%;
      background-color: #ca3838;
    }

    .X {
      &:hover {
        background: none;
        cursor: pointer;
      }
    }
  }

  .leftbar__pinned-chat {
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
  }
}