.leftbar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);

  .leftbar-splitter {
    position: absolute;
    height: inherit;
    border-right: var(--border);
    cursor: ew-resize;
  }

  .leftbar__user-card {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: var(--border);

    .leftbar__user-info {
      display: flex;
      align-items: center;
      width: 100%;

      .leftbar__user-ico {
        height: 45px;
        margin-right: 12px;
        border-radius: 100%;
        border: 2px solid rgb(59, 147, 197);
        overflow: hidden;

        img {
          width: inherit;
          height: inherit;
        }
      }

      .leftbar__user {
        width: 80%;

        .leftbar__user-name {
          background: none;
          outline: 0;
          border: 0;
          font-size: 16px;
        }

        .leftbar__user-role {
          background: none;
          outline: 0;
          border: 0;
          font-size: 14px;
        }
      }
    }

    .leftbar__options {
      display: flex;
      justify-content: flex-end;

    }
  }

  .leftbar__create-chat {
    padding: 10px;
    border-bottom: var(--border);

    input {
      width: 100%;
      margin-bottom: 10px;
      background: none;
    }
  }

  .leftbar__chat-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }

  .leftbar__search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: var(--border);

    input {
      width: 100%;
      margin-bottom: 10px;
      background: none;
    }
  }

  .leftbar__chat-wrap {
    display: flex;
    align-items: center;
    padding: 8px;

    .leftbar__chat-ico {
      min-width: 45px;
      min-height: 45px;
      margin-right: 12px;
      border-radius: 100%;
      border: 2px solid rgb(240, 240, 240);
    }

    .leftbar__chat {
      margin-right: 10px;
      cursor: pointer;

      .leftbar__chat-last-msg {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .leftbar__unread-msgs {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      font-size: 14px;
      border-radius: 100%;
      background-color: #ca3838;
    }

    .X {
      &:hover {
        background: none;
        cursor: pointer;
      }
    }
  }

  .leftbar__pinned-chat {
    border-bottom: var(--border);
  }
}