<div
  class="leftbar {{ selectedTheme }}"
  (click)="contextMenu.closeContextMenu()"
  (mouseenter)="stateService.showNavbar = true"
  (mouseleave)="stateService.showNavbar = false"
  [ngStyle]="{width: leftbarWidth + 'px'}"
>
  <div
    class="leftbar-splitter"
    (mousedown)="stateService.isResized = true"
    (mouseup)="stateService.isResized = false"
    [ngStyle]="{left: leftbarWidth + 'px'}"
  ></div>

  <div class="leftbar__user-card">
    <div class="leftbar__user-info">
      <div class="leftbar__user-ico">
        <img alt="alt" src="{{ user.ico }}" />
      </div>
      <!-- переименовать класс ↓ -->
      <div class="leftbar__user">
        <input class="leftbar__user-name" maxlength="16" type="text" value="{{ user.name }}" />
        <input class="leftbar__user-role" maxlength="32" type="text" value="{{ user.role }}" />
      </div>
    </div>

    <div
      class="leftbar__options pointer"
      title="Настройки"
      (click)="stateService.hideOptions = !stateService.hideOptions"
    >
      <svg
        [ngClass]="{active: !stateService.hideOptions}"
        fill="none"
        height="18"
        viewBox="0 0 27 18"
        width="27"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          [ngClass]="{'active-stroke': !stateService.hideOptions}"
          d="M1.5 17H25.5M1 9H25M1 1H25"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-miterlimit="1.30541"
          stroke-opacity="0.3"
          stroke-width="2"
        />
      </svg>
    </div>
  </div>

  <app-main-leftbar-aside-menu *ngIf="!stateService.hideOptions"></app-main-leftbar-aside-menu>

  <app-main-leftbar-aside-notifi *ngIf="!stateService.hideNotifications"></app-main-leftbar-aside-notifi>

  <div (contextmenu)="openContextMenu($event)" class="flex">
    <app-main-leftbar-navigation *ngIf="stateService.showNavbar"></app-main-leftbar-navigation>

    <div class="leftbar__chat-container">
      <div *ngIf="stateService.showControls" class="leftbar__create-chat fade-bottom">
        <div>
          <input
            class="ez-create-input"
            placeholder="Введите название канала"
            type="text"
            (keyup.enter)="createChannel(channelName)"
            [(ngModel)]="channelName"
          />
        </div>

        <div class="flex-justify-center flex-align-center">
          <button class="ez-small-button margin-right-10" (click)="createChannel(channelName)">Создать</button>
          <button class="ez-small-button" (click)="stateService.showControls = false">Отмена</button>
        </div>
      </div>

      <div *ngIf="stateService.showSearch" class="leftbar__search fade-bottom">
        <div>
          <input class="ez-create-input" placeholder="Поиск" type="text" />
          <div class="flex-justify-center flex-align-center">
            <button class="ez-small-button margin-right-10">Найти</button>
            <button class="ez-small-button" (click)="stateService.showSearch = false">Отмена</button>
          </div>
        </div>
      </div>

      <div *ngIf="pinnedChats.length" class="leftbar__pinned-chat">
        <div *ngFor="let item of pinnedChats" (contextmenu)="openContextMenu($event, item)">
          <div class="leftbar__chat-wrap fade-bottom">
            <div class="leftbar__chat-ico" [ngClass]="{'active-ico': item.active && !stateService.hideChatSection}">
              <img src="" alt="" />
            </div>
            <div class="leftbar__chat" (click)="showChatSection(item)">
              <div class="flex">
                <div
                  class="leftbar__chat-text margin-right-5"
                  [ngClass]="{active: item.active && !stateService.hideChatSection}"
                >
                  {{ item?.name }}
                </div>
                <div *ngIf="item?.msgs" class="leftbar__unread-msgs">
                  {{ item?.msgs }}
                </div>
              </div>
              <div class="flex">
                <span
                  style="white-space: nowrap"
                  class="leftbar__chat-text margin-right-5"
                  [ngClass]="{active: item.active && !stateService.hideChatSection}"
                >
                  {{ item?.userName + ': ' }}
                </span>
                <div class="flex">
                  <span
                    class="leftbar__chat-last-msg margin-right-5"
                    style="white-space: nowrap"
                    [ngClass]="{active: item.active && !stateService.hideChatSection}"
                  >
                    {{ item?.lastMsg }}
                  </span>
                  <span class="leftbar__chat-text" [ngClass]="{active: item.active && !stateService.hideChatSection}">
                    {{ item?.time }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="leftbar__chat-wrap fade-bottom"
        *ngFor="let item of chats"
        (contextmenu)="openContextMenu($event, item)"
      >
        <div class="leftbar__chat-ico" [ngClass]="{'active-ico': item.active && !stateService.hideChatSection}">
          <img src="" alt="" />
        </div>
        <div class="leftbar__chat" (click)="showChatSection(item)">
          <div class="flex">
            <span
              class="leftbar__chat-text margin-right-5"
              [ngClass]="{active: item.active && !stateService.hideChatSection}"
            >{{ item?.name }}</span
            >
            <div *ngIf="item?.msgs" class="leftbar__unread-msgs">
              {{ item?.msgs }}
            </div>
          </div>
          <div class="flex">
            <span
              style="white-space: nowrap"
              class="margin-right-5 leftbar__chat-text"
              [ngClass]="{active: item.active && !stateService.hideChatSection}"
            >
              {{ item?.userName + ': ' }}
            </span>
            <div class="flex">
              <span
                class="leftbar__chat-last-msg margin-right-5"
                style="white-space: nowrap"
                [ngClass]="{active: item.active && !stateService.hideChatSection}"
              >
                {{ item?.lastMsg }}
              </span>
              <span class="leftbar__chat-text" [ngClass]="{active: item.active && !stateService.hideChatSection}">
                {{ item?.time }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <context-menu #contextMenu></context-menu>
  </div>
</div>

<popup *ngIf="showPopup" [popupData]="popupData" [(showPopup)]="showPopup"></popup>
