.leftbar {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: var(--border);
  background-color: var(--background);

  .leftbar__create-chat {
    padding: 10px;
    border-bottom: var(--border);

    input {
      width: 100%;
      margin-bottom: 10px;
      background: none;
    }
  }

  .leftbar__chat-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .leftbar__search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: var(--border);

    input {
      width: 100%;
      margin-bottom: 10px;
      background: none;
    }
  }

  .leftbar__chat-wrap {
    display: flex;
    align-items: center;
    padding: 8px;

    .leftbar__chat-ico {
      min-width: 45px;
      min-height: 45px;
      margin-right: 12px;
      border-radius: 100%;
      border: 2px solid rgb(240, 240, 240, 0.3);
      overflow: hidden;

      img {
        width: inherit;
        height: inherit;
      }
    }

    .leftbar__chat {
      margin-right: 10px;
      cursor: pointer;

      .leftbar__chat-text {
        color: rgb(240, 240, 240, 0.3);
      }

      .leftbar__chat-last-msg {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgb(240, 240, 240, 0.3);
      }
    }

    .leftbar__unread-msgs {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      font-size: 14px;
      border-radius: 100%;
      background-color: #ca3838;
    }

    .active {
      color: rgb(240, 240, 240) !important;

      &-ico {
        border: 2px solid rgb(240, 240, 240) !important;
      }
    }
  }

  .leftbar__pinned-chat {
    border-bottom: var(--border);
  }
}
