<div (click)="closeContextMenu()" [ngStyle]="{width: leftbarWidth + 'px'}" class="leftbar {{ selectedTheme }}">
  <div (click)="isResized = !isResized" [ngStyle]="{left: leftbarWidth + 'px'}" class="leftbar-splitter"></div>

  <div class="leftbar__user-card">
    <div class="leftbar__user-info">
      <div class="leftbar__user-ico">
        <img alt="alt" src="../assets/img/ZKoQpzcDggWg2ogpkHjR9JnzY9lbPC7wR_gI-BZX5ncn7VOpt-G_a2jJmQBzC4gx.jpg" />
      </div>
      <!-- переименовать класс ↓ -->
      <div class="leftbar__user">
        <input class="leftbar__user-name" type="text" value="{{ user.name }}" />
        <input class="leftbar__user-role" type="text" value="{{ user.role }}" />
      </div>
    </div>

    <div (click)="hideOptions = !hideOptions" class="leftbar__options pointer" title="Настройки">
      <svg
        [ngClass]="{active: !hideOptions}"
        fill="none"
        height="18"
        viewBox="0 0 27 18"
        width="27"
        xmlns="http://www.w3.org/2000/svg">
        <path
          [ngClass]="{'active-stroke': !hideOptions}"
          d="M1.5 17H25.5M1 9H25M1 1H25"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-miterlimit="1.30541"
          stroke-opacity="0.3"
          stroke-width="2" />
      </svg>
    </div>
  </div>

  <app-main-leftbar-aside-notifi
    (hideNotifi)="hideNotifi = !hideNotifi"
    *ngIf="!hideNotifi"></app-main-leftbar-aside-notifi>

  <app-main-leftbar-aside-menu
    (hideOptions)="hideOptions = !hideOptions"
    *ngIf="!hideOptions"></app-main-leftbar-aside-menu>

  <div (contextmenu)="openContextMenu($event)" class="flex">
    <app-main-leftbar-navigation
      (notifiEmitter)="hideNotifi = !hideNotifi"
      (showCreateFolder)="showCreateFolder = !showCreateFolder"></app-main-leftbar-navigation>

    <div class="leftbar__chat-container">
      <div *ngIf="showControls" class="leftbar__create-chat fade-bottom">
        <div>
          <input
            (keyup.enter)="createChannel(channelName)"
            [(ngModel)]="channelName"
            class="ez-create-input"
            placeholder="Введите название канала"
            type="text" />
        </div>

        <div class="flex-align-center">
          <button (click)="createChannel(channelName)" class="ez-small-button" style="margin-right: 10px">
            Создать
          </button>
          <button (click)="showControls = false" class="ez-small-button">Отмена</button>
        </div>
      </div>

      <div *ngIf="showSearch" class="leftbar__search fade-bottom">
        <div>
          <input class="ez-create-input" placeholder="Поиск" type="text" />
          <div class="flex-align-center">
            <button class="ez-small-button" style="margin-right: 10px">Найти</button>
            <button (click)="showSearch = false" class="ez-small-button">Отмена</button>
          </div>
        </div>
      </div>

      <div *ngIf="pinnedChats.length > 0" class="leftbar__pinned-chat">
        <div *ngFor="let item of pinnedChats">
          <div class="leftbar__chat-wrap fade-bottom">
            <div class="leftbar__chat-ico">{{ item?.ico }}</div>
            <div (click)="showChatSection(item)" class="leftbar__chat">
              <div class="flex">
                <p style="margin-right: 5px">{{ item?.name }}</p>
                <div *ngIf="item?.msgs !== 0" class="leftbar__unread-msgs">
                  {{ item?.msgs }}
                </div>
              </div>

              <div class="flex">
                <p style="margin-right: 5px; white-space: nowrap">
                  {{ item?.userName + ': ' }}
                </p>
                <div class="flex">
                  <p class="leftbar__chat-last-msg" style="margin-right: 5px; white-space: nowrap">
                    {{ item?.lastMsg }}
                  </p>
                  <p>{{ item?.time }}</p>
                </div>
              </div>
            </div>

            <div class="flex">
              <div (click)="unpinChannel(item)">&#9733;</div>
              <div class="X">&times;</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let item of chats" class="leftbar__chat-wrap fade-bottom">
        <div class="leftbar__chat-ico">{{ item?.ico }}</div>
        <div (click)="showChatSection(item)" class="leftbar__chat">
          <div class="flex">
            <p style="margin-right: 5px">{{ item?.name }}</p>
            <div *ngIf="item?.msgs !== 0" class="leftbar__unread-msgs">
              {{ item?.msgs }}
            </div>
          </div>

          <div class="flex">
            <p style="margin-right: 5px; white-space: nowrap">
              {{ item?.userName + ': ' }}
            </p>
            <div class="flex">
              <p class="leftbar__chat-last-msg" style="margin-right: 5px; white-space: nowrap">
                {{ item?.lastMsg }}
              </p>
              <p>{{ item?.time }}</p>
            </div>
          </div>
        </div>

        <div class="flex">
          <div (click)="pinChannel(item)">&#9734;</div>
          <div (click)="openPopup(item)" class="X">&times;</div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="!hideContextMenu"
    [ngStyle]="{
      top: contextMenuPosition.y + 'px',
      left: contextMenuPosition.x + 'px'
    }"
    class="ez-context-menu">
    <p (click)="showSearch = true" class="ez-context-menu__item">Поиск</p>
    <p (click)="showControls = true" class="ez-context-menu__item">Создать канал</p>
    <p class="ez-context-menu__item">Создать папку</p>
    <p class="ez-context-menu__item">Закрепить канал</p>
    <p class="ez-context-menu__item" routerLink="/options">Перейти в настройки</p>
    <p class="ez-context-menu__item">Удалить канал</p>
  </div>
</div>

<popup [popupData]="popupData" [showPopup]="showPopup"></popup>
