* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito-Light";
  color: rgb(240, 240, 240);
}

body {
  width: 100vw;
  height: 100vh;
  background: url(./assets/img/background.png) no-repeat;
  background-position: 55%;
  background-color: rgb(21, 29, 35);
}

.dark-theme {
  color: rgb(240, 240, 240);
  background-color: rgba(0, 0, 0, 0.1);
}

.light-theme {
  color: rgb(39, 39, 39);
  background-color: rgb(185, 185, 185);
}

.combined-theme {
  color: black;
  background: black;
  background-color: black;
}

.ez-input {
  padding-left: 15px;
  background: none;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);

  &.ng-valid.ng-dirty {
    border-bottom: 2px solid rgb(102, 204, 180);
  }

  &.ng-invalid.ng-dirty {
    border-bottom: 2px solid rgb(206, 60, 60);
  }
}

.ez-create-input {
  background: none;
  outline: 0;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.ez-select {
  width: 130px;
  padding: 2px;
  margin-bottom: 5px;
  background: none;
  outline: 0;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.ez-context-menu {
  position: absolute;
  width: 200px;
  user-select: none;
  left: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 9999;

  .ez-context-menu__item {
    margin-bottom: 5px;

    &:hover {
      color: #3b93c5;
      cursor: pointer;
    }
  }
}

.ez-drop-down-menu {
  position: absolute;
  top: 65px;
  right: 24px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.ez-button {
  width: 170px;
  height: 40px;
  margin-bottom: 5px;
  outline: 0;
  background: none;
  border: 2px solid rgb(70, 188, 255);
  border-radius: 10px;
  transition: 500ms;

  &:hover {
    background: rgb(70, 188, 255);
    transition: 500ms;
    cursor: pointer;
  }
}

.ez-small-button {
  width: 120px;
  height: 25px;
  margin-bottom: 5px;
  outline: 0;
  // background: linear-gradient(120deg, #5481c5 0%, #7a5a9a 60%);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
}

.active-stroke {
  stroke: rgb(59, 147, 197);
  stroke-opacity: 1;
  cursor: pointer;
}

.active-fill {
  fill: rgb(70, 188, 255);
  fill-opacity: 1;
  cursor: pointer;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 400ms;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation-name: fade-in-right;
  animation-duration: 400ms;
  animation-fill-mode: both;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 400ms;
  animation-fill-mode: both;
}

@keyframes fade-out {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-250px);
  }
}

.fade-bottom {
  animation-name: fade-bottom;
  animation-duration: 400ms;
  animation-fill-mode: both;
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: "Nunito-Light";
  src: url("./assets/fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("./assets/fonts/Nunito-Regular.ttf");
}