<div class="aside-options fade-in">
  <div class="aside-options__header-box">
    <p class="aside-options__header">Быстрые настройки</p>
    <div class="aside-options__fullscrean-opt" routerLink="/options">
      <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14 9V15H1V3H8M7 9L17 1M17 1H13M17 1V5"
          stroke="white"
          stroke-opacity="0.3"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>

    <div class="aside-menu__close">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="hideOptions.emit()">
        <path d="M1 1L15 15M15 1L1 15" stroke="white" stroke-opacity="0.3" stroke-width="2" stroke-linecap="round" />
      </svg>
    </div>
  </div>

  <div class="options">
    <div class="aside-options-decor">
      <p class="aside-options-decor-header">Оформление</p>
      <div class="aside-options-decor-wrap">
        <div class="aside-options-decor__theme">
          <p>Тема</p>
          <!-- переделать на *ngFor ↓ -->
          <div class="theme-picker">
            <div class="theme-picker__item" (click)="setAppTheme('dark-theme')"></div>
            <div class="theme-picker__item" (click)="setAppTheme('light-theme')"></div>
            <div class="theme-picker__item" (click)="setAppTheme('combined-theme')"></div>
            <div class="theme-picker__item"></div>
            <div class="theme-picker__item"></div>
          </div>
        </div>

        <div style="display: flex; margin-bottom: 10px">
          <p style="margin-right: 5px">Цвет активных элементов</p>
          <input type="color" />
        </div>

        <div class="aside-options-usual__font">
          <!-- исправить ↓ -->
          <p style="margin-right: 5px">Шрифт</p>
          <input class="ez-input" type="text" value="Nunito-Light" />
        </div>

        <div style="display: flex; margin-bottom: 10px">
          <p style="margin-right: 5px">Цвет шрифта</p>
          <input type="color" />
        </div>

        <div class="aside-options-usual__background">
          <!-- исправить ↓ -->
          <p style="margin-right: 5px">Фон сообщений</p>
          <input type="file" class="ez-small-button" />
        </div>
      </div>
    </div>

    <!-- <div class="aside-options-usual">
      <p class="aside-options-usual-header">Настройки уведомлений</p>
      <div style="display: flex">
        <p>Выключить звук уведомлений</p>
        <input type="checkbox" />
      </div>
    </div> -->

    <div class="aside-options-audio">
      <p class="aside-options-audio__header">Настройки звука</p>
      <div class="aside-options-audio__wrap">
        <div class="aside-options-audio__volume">
          <p class="heading">Звук</p>
          <input class="input-range" type="range" />
        </div>

        <!-- <p>Устройство ввода</p> -->
        <div class="aside-options-audio__mic">
          <p class="heading">Микрофон</p>
          <input class="input-range" type="range" />
        </div>
        <!-- <p>Устройство вывода</p> -->
      </div>
    </div>

    <div class="aside-options-video">
      <p class="aside-options-video__header">Настройки видео</p>
      <div class="aside-options-video__wrap">
        <p class="heading">Параметр1</p>
        <select class="ez-select">
          <option class="ez-select__option">1337 x 1488</option>
          <option class="ez-select__option">1488 x 1337</option>
        </select>

        <p class="heading">Параметр2</p>
        <select class="ez-select">
          <option value="">1337 x 1488</option>
          <option value="">1488 x 1337</option>
        </select>
      </div>
    </div>
  </div>

  <div class="aside-options-logout">
    <p class="aside-options-logout__text" routerLink="">Выйти из учетной записи</p>
  </div>
</div>
