<div class="aside-options fade-in-left">
  <div class="aside-options__header-box">
    <p class="aside-options__header">Быстрые настройки</p>
    <div class="aside-options__fullscreen-opt" routerLink="/options">
      <svg fill="none" height="16" viewBox="0 0 18 16" width="18" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14 9V15H1V3H8M7 9L17 1M17 1H13M17 1V5"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-opacity="0.3"
          stroke-width="2"
        />
      </svg>
    </div>

    <div (click)="stateService.hideOptions = true" class="aside-menu__close">
      <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L15 15M15 1L1 15" stroke="white" stroke-linecap="round" stroke-opacity="0.3" stroke-width="2" />
      </svg>
    </div>
  </div>

  <div class="options">
    <div class="aside-options-decor">
      <p class="aside-options-decor-header">Оформление</p>
      <div class="aside-options-decor-wrap">
        <div class="aside-options-decor__theme">
          <p>Тема</p>
          <div class="theme-picker">
            <div
              (click)="setAppTheme('dark-theme')"
              [ngClass]="{active: selectedTheme === 'dark-theme'}"
              class="theme-picker__item"
              style="background-color: rgb(35, 37, 41)"
            ></div>

            <div
              (click)="setAppTheme('dark-blue-theme')"
              [ngClass]="{active: selectedTheme === 'dark-blue-theme'}"
              class="theme-picker__item"
              style="background-color: rgb(16, 24, 28)"
            ></div>

            <div
              (click)="setAppTheme('light-theme')"
              [ngClass]="{active: selectedTheme === 'light-theme'}"
              class="theme-picker__item"
              style="background-color: rgb(220, 225, 233)"
            ></div>

            <div (click)="setAppTheme('combined-theme')" class="theme-picker__item"></div>
            <div class="theme-picker__item"></div>
          </div>
        </div>

        <!-- исправить ↓ -->
        <div class="flex" style="margin-bottom: 10px">
          <p style="margin-right: 5px">Цвет активных элементов</p>
          <input type="color" />
        </div>

        <div class="aside-options-usual__font">
          <!-- исправить ↓ -->
          <p style="margin-right: 5px">Шрифт</p>
          <input class="ez-input" type="text" value="Nunito-Light" />
        </div>

        <!-- исправить ↓ -->
        <div class="flex" style="margin-bottom: 10px">
          <p style="margin-right: 5px">Цвет шрифта</p>
          <input type="color" />
        </div>

        <div class="aside-options-usual__background">
          <!-- исправить ↓ -->
          <p style="margin-right: 5px">Фон сообщений</p>
          <input (change)="setBackground($event)" class="ez-small-button" type="file" />
        </div>
      </div>
    </div>

    <!-- <div class="aside-options-usual">
      <p class="aside-options-usual-header">Уведомления</p>
      <div style="display: flex">
        <p>Выключить звук уведомлений</p>
        <input type="checkbox" />
      </div>
    </div> -->

    <div class="aside-options-audio">
      <p class="aside-options-audio__header">Аудио</p>
      <div class="aside-options-audio__wrap">
        <div class="aside-options-audio__volume">
          <p class="heading">Звук</p>
          <input class="input-range" type="range" />
        </div>

        <!-- <p>Устройство ввода</p> -->
        <div class="aside-options-audio__mic">
          <p class="heading">Микрофон</p>
          <input class="input-range" type="range" />
        </div>
        <!-- <p>Устройство вывода</p> -->
      </div>
    </div>

    <div class="aside-options-video">
      <p class="aside-options-video__header">Видео</p>
      <div class="aside-options-video__wrap">
        <p class="heading">Параметр1</p>
        <select class="ez-select">
          <option class="ez-select__option">1337 x 1488</option>
          <option class="ez-select__option">1488 x 1337</option>
        </select>

        <p class="heading">Параметр2</p>
        <select class="ez-select">
          <option value="">1337 x 1488</option>
          <option value="">1488 x 1337</option>
        </select>
      </div>
    </div>
  </div>

  <div class="aside-options-logout">
    <p class="aside-options-logout__text" routerLink="">Выйти из учетной записи</p>
  </div>
</div>
